<!-- About me Section -->
    <section id="aboutme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Short biography</h4>
                    <p class="text-muted text-justify">I achieved bachelor's degrees in Computer Science (2003-2006, first in my class) and Psychology (2005-2008) from Université Louis Pasteur, Strasbourg (France), followed by a master degree in Cognitive Sciences (2008-2010, first in my class) from Université Lumières, Lyon (France). From 2010 to 2015, I worked as a software engineer for a consulting company in Strasbourg. I am now part of the iCub Facility at the Italian Institute of Technology, where after 6 months as a fellow, working on haptic object recognition, I started a PhD.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research topic</h4>
                    <p class="text-muted text-justify"> My current work focuses on deep learning for speech recognition, more precisely command spotting in the context of humanoid robotics. We want the robot iCub to recognize vocal commands addressed to him robustly, despite the surrounding noise, the speaker's accent or its distance to the robot.<br>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Topics of interest</h4>
                    <p class="text-muted text-justify">In the long run, my interest revolve around autonomous learning and developemental robotics. I'm fascinated by human development and capacity to learn and adapt, and I strongly believe that robots are the ideal plateform to study them. I'm also very excited by the possibility to implement similar capabilities into robots.</p>
                </div>
            </div>
        </div>
    </section>
