<!-- Contact Section -->
    <section id="contact2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted">If you want to reach to me...</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contact details</h4>
                    <p class="text-muted">Bertrand Higy<br><a href="mailto:bertrand.higy@gmail.com">bertrand.higy@gmail.com</a><br>iCub Facility<br><a href="https://www.iit.it">Istituto Italiano di Tecnologia</a><br>Via Morego, 30<br>Genova 16163, Italy</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">On the web</h4>
                    <!--<p class="text-muted"></p>-->
                    <br><br>
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="{{ network.type }} fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
