<!-- About me Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center"></div>
                <div class="col-md-6 text-center">
                    <h2 class="section-heading">News</h2>
                    <p class="text-justify">
                        <b>July 28th - Aug. 2nd 2019:</b>
                        Attending ACL conference.
                    </p>
                    <p class="text-justify">
                        <b>June 2019:</b>
                        Starting as a postodoc with Grzegorz Chrupała and Afra Alishahi within the <a href="https://csai.nl/">Cognitive Science and Artificial Intelligence</a> group at Tilburg University. Topic: visually grounded spoken language understanding.
                    </p>
                    <p class="text-justify">
                        <b>April 8th 2019:</b>
                        I am officially Doctor in Bioengineering and Robotics. :)
                    </p>
                    <p class="text-justify">
                        <b>April-July 2018:</b>
                        Visiting the <a href="http://www.cstr.ed.ac.uk/">Centre for Speech Technology Research</a> at University of Edinburgh for a 4 months period, to work on sequence-to-sequence speech recognition.
                    </p>
                    <p class="text-justify">
                        <b>January 2018:</b>
                        Our paper <a href="files/higy_frontiers_2018.pdf">Speech recognition for the iCub plateform</a> has been accepted for a special issue of Frontiers in Robotics an AI.
                    </p>
                    <p class="text-justify">
                        <b>Aug. 30th - Sept. 8th 2017:</b>
                        Attending <a href="https://eventum.upf.edu/9240/detail/bcbt-2017.html">Barcelona Cognition, Brain and Technology summer school</a>.
                    </p>
                    <p class="text-justify">
                        <b>July 17th-21st 2017:</b>
                        Attending <a href="http://grammars.grlmc.com/DeepLearn2017/">Deep Learning summer school</a> in Bilbao.
                    </p>
                </div>
                <div class="col-md-3 text-center"></div>
            </div>
        </div>
    </section>
