<!-- About me Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center"></div>
                <div class="col-md-6 text-center">
                    <h2 class="section-heading">News</h2>
                    <p class="text-justify">
                        <b>September 2020:</b>
                        Our paper on <a href=files/higy_textual_supervision_2020.pdf>textual supervision for visually-grounded models of spoken language understanding</a> has been accepted to the Findings of EMNLP 2020!
                    </p>
                    <p class="text-justify">
                        <b>July 2020:</b>
                        Attending <a href=https://acl2020.org/>ACL</a> and <a href=https://cognitivesciencesociety.org/cogsci-2020/>CogSci</a> 2020.
                    </p>
                    <p class="text-justify">
                        <b>April 2020:</b>
                        <a href=files/chrupala_analyzing_2019>Our paper</a> on neural network analytical methods has been accepted to ACL 2020! \o/
                    </p>
                    <p class="text-justify">
                        <b>October 10th-11th 2019:</b>
                        Participating to <a href=https://www.clips.uantwerpen.be/atila19#venue>ATILA'19</a> in Antwerp with a short presentation.
                    </p>
                </div>
                <div class="col-md-3 text-center"></div>
            </div>
        </div>
    </section>
