<!-- About me Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    <p class="text-justify">
                        Higy, B., & Bell, P. 2018. <b>Few-shot learning with attention-based sequence-to-sequence models.</b> http://arxiv.org/abs/1811.03519.
                        <a href="files/higy_icassp_2019.pdf"><i class="fa fa-file-pdf"></i></a>
                    </p>
                    <p class="text-justify">
                        Higy, B., Mereta, A., Metta, G. & Badino., L. <b>Speech Recognition for the ICub Platform.</b> Frontiers in Robotics and AI 5 (2018).
                        <a href="files/higy_frontiers_2018.pdf"><i class="fa fa-file-pdf"></i></a>
                    </p>
                    <p class="text-justify">
                        Savran, A., Tavarone, R., Higy, B., Badino, L., & Bartolozzi., C. <b>Energy and Computation Efficient Audio-Visual Voice Activity Detection Driven by Event-Cameras.</b> In Proceedings of 13th IEEE International Conference on Automatic Face Gesture Recognition. Xi’an, China, 2018.
                        <a href="files/savran_2018.pdf"><i class="fa fa-file-pdf"></i></a>
                    </p>
                    <p class="text-justify">
                        Higy, B., Ciliberto, C., Rosasco, L. & Natale., L. <b>Combining Sensory Modalities and Exploratory Procedures to Improve Haptic Object Recognition in Robotics.</b> In 2016 IEEE-RAS 16th International Conference on Humanoid Robots (Humanoids), 117–24, Cancun, Mexico, 2016. https://doi.org/10.1109/HUMANOIDS.2016.7803263.
                        <a href="files/higy_humanoids_2016.pdf"><i class="fa fa-file-pdf"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
